<!-- Frontend/templates/Frontend/index.html -->
{% extends 'base.html' %}

{% block title %}My Polls App{% endblock %}

{% block header %}Welcome to My Polls App!{% endblock %}

{% block content %}
    <p>This is a custom template for the Polls app.</p>
    <label for="summonername">Summonername: </label>
    <input id="summonername" type="text">
    <button onclick="redirectToSummoner()">Find Summoner</button>

    <script>
        function redirectToSummoner() {
            var summonerName = document.getElementById('summonername').value;
            if(summonerName) {
                window.location.href = `${window.location.origin}/summoner/eune/${summonerName}`;
            } else {
                alert('Please enter a summoner name.');
            }
        }
    </script>
{% endblock %}

{% block footer %}
    Copyright &copy; 2021. All Rights Reserved.
{% endblock %}
