<body>
    <div>{{participant.summonerName}}</div>
    {{participant.kills}}/{{participant.deaths}}/{{participant.assists}}
    <div><strong>Total Damage to Champions:</strong> {{ participant.totalDamageDealtToChampions }}</div>
    <div><strong>True Damage to Champions:</strong> {{ participant.trueDamageDealtToChampions }}</div>
    <div><strong>Physical Damage to Champions:</strong> {{ participant.physicalDamageDealtToChampions }}</div>
    <div><strong>Magic Damage to Champions:</strong> {{ participant.magicDamageDealtToChampions }}</div>
    <div><strong>Total Damage Taken:</strong> {{ participant.totalDamageTaken }}</div>
</body>
