<!-- Frontend/templates/Frontend/summoner.html -->
{% extends 'base.html' %}

{% block title %}Summoner Page{% endblock %}

{% block content %}

<!-- summoner.html -->

    {% csrf_token %}
    <div id="SummonersDetails">
        <img src="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon660.jpg?image=q_auto,f_webp,w_auto&amp;v=1710914129937" alt="profile image">
        <h2 id="SummonerNameLabel">{{ summonername }}</h2>
        <h3 id="SummonerId">Summoner tag</h3>



    </div>


<div id="divisionSoloQ">
    soloQ
    {{soloQ.tier}}
    {{soloQ.rank}}
    {{soloQ.leaguePoints}}
</div>
<div id="divisionFlexQ">
    flexQ
    {{flexQ.tier}}
    {{flexQ.rank}}
    {{flexQ.leaguePoints}}
</div>


<div>

    <button>Match history</button>
</div>

    <!-- Include the button template -->
{% endblock %}
